.event-content{
    margin-left:20%;
    
  
}

.hero-area:before {

  background-color: white;

}

#DivIntro{
position:relative;
overflow:hidden;
height:100%;
width:100%;
padding-top:1%;
text-align:center;

}
#DivIntroImg {
display:table;
overflow:hidden;
position:absolute;
max-height:65%;
width:100%;
 display: flex;
justify-content: center;
align-items: center;



}

#ImgLogo{
max-width:80%;
max-height:80%;
}

#DivIntroContent{
left:15%;
max-width:70%;
max-height:30%;
height:30%;
top:70%;
position:absolute;
}






